name: main
on: push

jobs:
  mirror-to-gitlab:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: mirroring to gitlab
        uses: pixta-dev/repository-mirroring-action@v1.1.0
        with:
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          target_repo_url: git@gitlab.com:savfile/savfile.gitlab.io.git
          ssh_username: savfile

  mirror-to-gitee:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
  
      - name: mirroring to gitee
        uses: pixta-dev/repository-mirroring-action@v1.1.0
        with:
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          target_repo_url: git@gitee.com:savfile/savfile.gitee.io.git
          ssh_username: savfile

  main:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: 'npm'
    
      - name: install global node_modules
        run: sudo npm install hexo-cli -g
    
      - name: cache node_modules
        id: cache-node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}_${{ matrix.node-version }}_${{ hashFiles('package.  json') }}
          restore-keys: ${{ runner.os }}_${{ matrix.node-version }}_${{ hashFiles('package.json') }}

      - name: install node_modules
        if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: npm install

      - name: hexo generate
        run: hexo generate

      - name: copy files
        run: sudo cp -r ./misc/* ./public/

      - name: push to github/savfile.github.io@main
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          git-config-name: savfile
          git-config-email: ${{ secrets.EMAIL }}
          repository-name: savfile/savfile.github.io
          branch: main
          folder: public
          token: ${{ secrets.GIT_TOKEN }}
          force: true
